
/* line */
.custom-divider {
    border: none;
    height: 20px;
    background-color: #5F3801;
    margin: 20px 0;
}

/* page title */
.page-title {
    text-align: center;
    font-size: 36px;
    color: #5F3801;
}
.stContainer{
    background-color: #CC6CE7;
}
.card {
    border: 1px solid #FEE9CB;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #555;
}

.happy-card{
    border: 1px solid #00F4FF;
    border-radius: 5px;
    padding: 10px;
    background-color: #D6FBFD;
    margin-bottom: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.emotion-card{
    border: 1px solid #FFF603;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFFDDB;
    margin-bottom: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.emotion-card.ahegao { background-color: #ffcccc; }
.emotion-card.angry { background-color: #ff6666; }
.emotion-card.happy { background-color: #ffffcc; }
.emotion-card.neutral { background-color: #e6e6e6; }
.emotion-card.sad { background-color: #b3c6ff; }
.emotion-card.surprise { background-color: #ffd966; }
.emotion-card.unknown { background-color: #e6e6e6; color: #666; }

